[user]
	name = Mark Ferlatte
	email = mark@truss.works
[push]
	default = simple
[color]
	ui = true
[core]
	fsyncObjectFiles = true
[diff]
	algorithm = patience
[fetch]
	prune = true
[transfer]
	fsckObjects = true
